# IntelliJ IDEA
.idea/

# Maven
target/

# Java
*.class
*.jar
*.war
*.ear
*.log

# OS
.DS_Store
Thumbs.db

# Spring Boot
application-*.properties
application-*.yml
!application-dev.yaml
!application-prod.yaml
!application-test.yaml
!application.yaml
